@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hero {
    @apply bg-cover;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(/images/hero.jpeg);
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .shaky-component {
    animation: shake 3s infinite;
  }

  @keyframes shake {
    0%, 20%, 100% {
      transform: translateX(0);
    }
    5%, 11% {
      transform: translateX(-7px);
    }
    8% {
      transform: translateX(7px);
    }
  }


}

@layer base {
  h1 {
    @apply text-2xl md:text-3xl lg:text-5xl font-bold;
  }

  h2 {
    @apply text-xl md:text-2xl lg:text-4xl font-semibold;
  }

  h3 {
    @apply text-base md:text-xl lg:text-2xl font-semibold;
  }

  p {
    @apply text-xs md:text-sm lg:text-base;
  }
}
